img {
  max-width: 100%;
}

.blog-thumb {
  .blog-thumb-img-top {
    height: 175px;
    object-fit: cover;
  }

  .blog-thumb-title {
    font-size: 1.35rem;
  }

  .blog-thumb-title-link {
    text-decoration: none;
    color: black;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
    }
  }
}
